h1 {
    text-align: center ;
    color:black;
    border-style:inset;
    border-width: 20%
}

#gradient{
    background-image: linear-gradient(to bottom, blue,green)
}

.flexbox{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin:3%;
    padding:2%;
    height:auto;
    background-image: linear-gradient(to bottom, blue,green);
    border-style:solid;
    border-width: 5%;
    color: white;
}
img{
    border-style:solid;
    border-width: 5%;
    margin:3%;
    padding:2%;
    height:auto;
}
