h1 {
    margin-top: 5%;
    text-align: center ;
    color:black;
    border-style:inset;
    border-width: 20%;
    border-color:#966D33;
}

#gradient{
    background-image: linear-gradient(to bottom, burlywood, #966D33);
}

.container{
    position: absolute;
    top: 15%;
    display:flex;
    justify-content: flex-end;
}

.flexbox{
    display: flex;
    flex-direction: row;
    width: 45%;
    margin:3%;
    padding:2%;
    height:auto;
    background-image: linear-gradient(to bottom,burlywood, #966D33);
    border-style:solid;
    border-color: antiquewhite;
    color: white;
    font-size: 140%;
}

img{
    border-radius: 50%;
    border-style:solid;
    border-width: 5%;
    border-color: #966D33;
    margin:3%;
    padding:2%;
}

.navbar{
    background-color:burlywood;
    top:0;
    position:fixed;
    width:100%;
    border-width: 2%;
    border-color: lightpink;
    opacity:0.9;
}

.navbar li {
    flex:1;
}

.navbar ul {
    display:flex;
    list-style-type:none;
    margin:0;
    padding:0;
}

.navbar a:hover{
    color:bisque;
}

.navbar a{
    display:block;
    color:white;
    text-align: center;
    padding:3%;
    text-decoration:none;
}

